body{
	font-family: 'Roboto', sans-serif;
}

.v-application--wrap{
	background-color: #f2f2f2!important;
}
th{
	white-space: nowrap;	
}
td{
	white-space: nowrap;	
}


.v-data-table__wrapper{
	padding-bottom: 15px;
}

.v-data-table__wrapper::-webkit-scrollbar {
	height: 5px;
	margin:0;
	border-radius: 20px;
}

/* Track */
.v-data-table__wrapper::-webkit-scrollbar-track {
	background: #ececec;
	border-radius: 20px;
}

/* Handle */
.v-data-table__wrapper::-webkit-scrollbar-thumb {
	background: #1976d2;
	border-radius: 20px;
}

/* Handle on hover */
.v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
	background: #1976d2;
	border-radius: 20px;
}


.shad-box{
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  	margin: 20px;
  	border-radius: 10px;
  	padding: 30px 30px;
  	background: #fff;
}
h3{
	margin: 0;
	margin-bottom: 20px;
}

/*ADAPTIIIIIIIIIV*/


@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	
}
@media (max-width: 786px) {

}
@media (max-width: 767px) {
 
}
@media (max-width: 672px) {
	
}
@media (max-width: 512px) {
	
}
@media (max-width: 390px) {
	
}
@media (max-width: 320px) {

}





/* Remove outline on the forms and links */ 
:active, :hover, :focus { 
outline: 0; 
outline-offset: 0; 
}

button:active, button:hover, button:focus { 
outline: 0; 
outline-offset: 0; 
}


a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
