body{
	font-family: 'Roboto', sans-serif;
}

.v-application--wrap{
	background-color: #f2f2f2!important;
}
/*th{
	white-space: nowrap;	
}
td{
	white-space: nowrap;	
}*/

.v-data-table__wrapper{
	padding-bottom: 15px;
}
.v-data-table__wrapper td:nth-child(1){
	white-space: nowrap;	
}
.v-data-table__wrapper td:nth-child(3){
	white-space: nowrap;	
}
.v-data-table__wrapper td:nth-child(4){
	/* white-space: nowrap;	 */
	min-width: 200px;
}
.v-data-table__wrapper td:nth-child(17){
	white-space: nowrap;	
}
.v-data-table__wrapper td:nth-child(15){
	min-width: 200px;
}


.v-data-table__wrapper::-webkit-scrollbar {
	height: 8px;
	margin:0;
	border-radius: 20px;
}

/* Track */
.v-data-table__wrapper::-webkit-scrollbar-track {
	background: #ececec;
	border-radius: 20px;
}

/* Handle */
.v-data-table__wrapper::-webkit-scrollbar-thumb {
	background: #1976d2;
	border-radius: 20px;
}

/* Handle on hover */
.v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
	background: #1976d2;
	border-radius: 20px;
}


.shad-box{
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  	margin: 20px;
  	border-radius: 10px;
  	padding: 30px 30px;
  	background: #fff;
}
h3{
	margin: 0;
	margin-bottom: 20px;
}
.uncheck{
	padding:2px 5px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #d2d0d0;
}

/*ADAPTIIIIIIIIIV*/


@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	
}
@media (max-width: 786px) {

}
@media (max-width: 767px) {
 
}
@media (max-width: 672px) {
	
}
@media (max-width: 512px) {
	.v-sheet.v-toolbar:not(.v-sheet--outlined){
		height: inherit!important;
	}
	.v-toolbar__content, .v-toolbar__extension{
		flex-wrap: wrap;
		height: inherit!important;
	}
	.shad-box{
		padding:15px;
	}

	.bigger-on-mobile i{
		font-size: 25px!important;
		padding-right: 15px;
	}
	.mdi-delete{
		font-size: 25px!important;
	}
}
@media (max-width: 390px) {
	
}
@media (max-width: 320px) {

}





/* Remove outline on the forms and links */ 
:active, :hover, :focus { 
outline: 0; 
outline-offset: 0; 
}

button:active, button:hover, button:focus { 
outline: 0; 
outline-offset: 0; 
}


a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
